<div class="chat-page">
  <div class="chat-list">
    <div class="chat-list__top">
      <a class="chat-list__top-link" href="/profile">Профиль</a>
      {{{search}}}
    </div>
    <ul class="chat-list__list">
      <li class="chat-list__item">
        <div class="user">
          <img class="user__avatar" src="https://rozetked.me/images/uploads/dwoilp3BVjlE.jpg" alt="avatar">
          <div class="user__text">
            <p class="user__name">Илья</p>
            <p class="user__message">Друзья, у меня для вас особенный выпуск новостей!...</p>
          </div>
          <div class="user__message-info">
            <p class="user__message-time">15:12</p>
            <p class="user__message-count">4</p>
          </div>
        </div>
      </li>
      <li class="chat-list__item">
        <div class="user">
          <img class="user__avatar" src="https://scientificrussia.ru/images/b/teb-full.jpg" alt="avatar">
          <div class="user__text">
            <p class="user__name">Вадим</p>
            <p class="user__message">
              <span class="user__message-author">Вы:</span> Круто!
            </p>
          </div>
          <div class="user__message-info">
            <p class="user__message-time">Пт</p>
            {{!-- <p class="user__message-count">2</p> --}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-feed">Feed</div>
</div>