<div class='login'>
  <div class='login-form'>
    <h1 class='login-form__title'>Временная навигация</h1>
    <ul class='login-form__inputs'>
      {{#each links}}
        <li class='login-form__input'>
          <a class='link link' href='{{this}}'>{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>