<form class="search">
  <label class='search__label'>
    <input
      class='search__input'
      type='text'
      name='search'
    />
    <div class='search__label-text-wrapper'>
      <span class="search__label-text">Поиск</span>
    </div>
  </label>
</form>