<div class='error-page'>
  <div class='error-page__inner'>
    <h1 class='error-page__title'>404</h1>
    <p class='error-page__subtitle'>Не туда попали</p>
    <a class='link link--center' href='/'>Назад к чатам</a>
  </div>
</div>